#game {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #board {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    margin: 10px;
  }
  
  .cell {
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .cell.correct {
    background-color: green;
    color: white;
  }
  
  .cell.present {
    background-color: yellow;
    color: black;
  }
  
  .cell.absent {
    background-color: lightgray;
    color: black;
  }
  
  #guess-input {
    font-size: 16px;
    text-transform: uppercase;
  }

  #submit-guess {
    display: none;
  }

  #correctGuess {
    color: var(--primary-text);
    text-align: center;
    margin: 40px;
    font-size: 2em;
    font-weight: 500;
  }

  #wrongGuess {
    color: var(--primary-text);
    text-align: center;
    margin: 40px;
    font-size: 2em;
    font-weight: 500;
  }