:root {
  /* Primary Colors */
  --primary-background: #a6a6a6e3; /* Neutral Gray */
  --primary-text: #f1f1f1; /* Slate Gray */
  --primary-heading: #333333; /* Dark Charcoal */

  /* Secondary Colors */
  --secondary-background: #f1f1f15e; /* Cool Gray */
  
  /* Accent Colors */
  --accent-primary: #fff45a; /* Soft Blue */
  --accent-success: #4caf50; /* Muted Green */
  --accent-warning: #f57c00; /* Light Orange */
  
  /* Error Color */
  --error: #e53935; /* Red */

  /* Borders and Dividers */
  --border-color: #d1d1d1; /* Cool Gray */
}

body {
  padding: 0;
  margin: 0;
  color: var(--primary-text);
  font-family: 'Inter';
  overflow: hidden; /* Prevents scrolling */
}

#window {
  border-radius: 15px;
  overflow: hidden; /* Ensures rounded corners are properly displayed */
  background-color: var(--primary-background);
  width: 100vw;
  height: 100vh;
}

.draggable {
  -webkit-app-region: drag; /* Makes this area draggable */
}

header:not(#miniHeader) {
  background-color: var(--primary-background);
  margin: 0;
  padding: 25px;
  width: 100%;
  max-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-img {
  width: 30%;
}

#header-btn {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 100%;
  height: 100%;
}

.closeBtn, .minimizeBtn {
  background-color: var(--secondary-background);
  color: var(--primary-text);
  font-size: 1.8em;
  border: none;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  padding: 0;
  margin-left: 4px;
  cursor: pointer;
  -webkit-app-region: no-drag; /* Prevents buttons from being draggable */
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.start-buttons button {
  background-color: var(--secondary-background);
  color: var(--primary-text);
  border: none;
  font-size: 1.2em;
  border-radius: 12px;
  padding: 13px 19px;
  cursor: pointer;
  -webkit-app-region: no-drag; /* Prevents buttons from being draggable */
  margin-bottom: 6px;
}

.start-buttons button:hover {
  opacity: .8;
}

.start-buttons p {
  font-size: 1.2em;
  margin: 8px;
}

#focus-div {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#focus-div p {
  background-color: var(--secondary-background);
  color: var(--primary-text);
  padding: 10px;
  border-radius: 9px;
}

#focus-div p:hover {
  opacity: .8;
}

#focus-div i {
  margin-right: 4px;
}

#timerContainer {
  display: none;
  margin: 25px;
}

#timerDisplay {
  text-align: left;
  font-size: 3.2em;
  font-family: 'Poppins';
  margin: 6px;
}

#progressBarContainer {
  width: 80%;
  background-color: #fff89470;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: auto;
  margin-left: 23px;
}

#progressBar {
  height: 100%;
  background-color: var(--accent-primary);
  width: 0;
  transition: width 1s;
}

#timerButtons {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 6px;
}

.timerBtn {
  padding: 9px 13px;
  border-radius: 9px;
  width: 130px;
  border: none;
  font-size: 1.09em;
  color: var(--primary-text);
  background-color: var(--secondary-background);
  -webkit-app-region: no-drag; /* Prevents buttons from being draggable */
}

.timerBtn:hover {
  opacity: .8;
  cursor: pointer;
}

#timeInput {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

#timeInputEl {
  margin: 12px auto; /* Center the input element */
  width: 80%; /* Make the range input 80% of the page width */
  height: 0.8em; /* Adjust the height */
  -webkit-appearance: none; /* Remove default styling for WebKit browsers */
  appearance: none; /* Remove default styling for non-WebKit browsers */
  background: linear-gradient(to right, var(--accent-primary) 0%, #fcf59d 0%); /* Initial gradient background */
  border-radius: 0.4em; /* Rounded corners */
  outline: none; /* Remove outline */
  transition: background 0.3s; /* Smooth transition for background */
}

/* Style the track */
#timeInputEl::-webkit-slider-runnable-track {
  height: 0.8em; /* Adjust the height */
  border-radius: 0.4em; /* Adjust the border-radius for the new height */
}

#timeInputEl::-moz-range-track {
  height: 0.8em; /* Adjust the height */
  border-radius: 0.4em; /* Adjust the border-radius for the new height */
}

#timeInputEl::-ms-track {
  height: 0.8em; /* Adjust the height */
  border-radius: 0.4em; /* Adjust the border-radius for the new height */
  border: none; /* Remove border for IE */
  color: transparent; /* Hide ticks for IE */
}

/* Style the thumb */
#timeInputEl::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styling for WebKit browsers */
  appearance: none; /* Remove default styling for non-WebKit browsers */
  width: 1.2em; /* Adjust the width */
  height: 1.2em; /* Adjust the height */
  background-color: var(--accent-primary); /* Use the CSS variable */
  border-radius: 50%; /* Round shape */
  cursor: pointer;
  margin-top: -0.2em; /* Center thumb on track */
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15); /* Subtle box shadow */
  border: 0.1em solid #fff; /* White border to enhance the thumb */
  transition: transform 0.1s ease-in-out; /* Smooth transition for thumb */
}

#timeInputEl::-moz-range-thumb {
  width: 1.2em; /* Adjust the width */
  height: 1.2em; /* Adjust the height */
  background-color: var(--accent-primary); /* Use the CSS variable */
  border-radius: 50%; /* Round shape */
  cursor: pointer;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15); /* Subtle box shadow */
  border: 0.1em solid #fff; /* White border to enhance the thumb */
  transition: transform 0.1s ease-in-out; /* Smooth transition for thumb */
}

#timeInputEl::-ms-thumb {
  width: 1.2em; /* Adjust the width */
  height: 1.2em; /* Adjust the height */
  background-color: var(--accent-primary); /* Use the CSS variable */
  border-radius: 50%; /* Round shape */
  cursor: pointer;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15); /* Subtle box shadow */
  border: 0.1em solid #fff; /* White border to enhance the thumb */
  transition: transform 0.1s ease-in-out; /* Smooth transition for thumb */
}

#timeInput label {
  font-size: 1.4em;
}

#timeInputBtn {
  padding: 4px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.3em;
  background-color: var(--secondary-background);
  color: var(--primary-text);
  border: none;
  -webkit-app-region: no-drag; /* Prevents buttons from being draggable */
  margin-left: 8px;
}

#timeInputBtn:hover {
  opacity: .8;
  cursor: pointer;
}

#labelRange {
  font-size: 2.8em;
  font-family: 'Poppins';
  margin: 16px;
}

#rangeFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#quitDiv {
  display: none;
  margin: auto;
  text-align: center;
  margin: 20px;
}

#quitDiv p {
  font-size: 1.4em;
  text-align: left;
}

#quitInput {
  border-radius: 9px;
  border: none;
  padding: 14px;
  background-color: var(--secondary-background);
  color: var(--primary-text);
  text-align: center;
  width: 65%;
}

#quitInput::placeholder {
  color: var(--primary-text);
  font-size: 1.2em;
  opacity: 1; /* Firefox */
}

#quitInput::-ms-input-placeholder { /* Edge 12 -18 */
  color: var(--primary-text);
  font-size: 1.2em;
}

.counter {
  background-color: var(--secondary-background);
  font-family: 'Poppins';
  border-radius: 50%;
  padding: 4px;
  font-size: 1.3em;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-top: auto;
}

#breakDiv {
  display: none;
  flex-direction: column-reverse;
  margin: 20px;
  text-align: center;
}

#breakDisplay {
  font-size: 2em;
  margin-top: 8px;
  font-family: 'Poppins';
}

#breakMsg {
  text-align: left;
  margin-bottom: 6px;
  width: 80%;
  height: 55px;
  font-size: 1.4em;
  font-style: italic;
}

.lights {
  display: flex;
  justify-content: center;
  align-items: center;
}

.light {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: #fcf8c1;
  transition: background-color 0.3s ease-in-out;
}

.light.on {
  background-color: var(--accent-primary); /* Adjust color as desired */
}

#loseFocus {
  display: none;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

#flexBtn {
  display: flex;
  flex-direction: row;
}

#first, #second, #finishFocus {
  display: none;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

#loseFocus p {
  font-size: 1.6em;
  font-weight: 500;
  width: 80%;
}

.nextQuestion, #returnYes {
  padding: 11px 13px;
  border-radius: 9px;
  background-color: var(--secondary-background);
  color: var(--primary-text);
  border: none;
  font-size: .9em;
  -webkit-app-region: no-drag; /* Prevents buttons from being draggable */
  position: absolute;
  right: 5%;
  bottom: 5%;
}

#returnYes {
  display: none;
}

.nextQuestion:hover, #returnYes:hover {
  opacity: .8;
  cursor: pointer;
}

#gameBreak {
  margin: 40px;
  text-align: center;
}

#textEl {
  font-size: 1.2em;
}

#gameBreak h2 {
  font-size: 2em;
  width: 80%;
}

#gameBreakFlex button {
  background-color: var(--secondary-background);
  border: none;
  color: var(--primary-text);
  border-radius: 9px;
  padding: 8px 10px;
  font-size: 1.2em;
}

#gameBreakFlex button:hover {
  cursor: pointer;
  opacity: .8;
}

#instructionDiv {
  margin: 13px;
  text-align: left;
  font-size: 1em;
}

#instructionDiv h2 {
  margin: 2px;
}

#skipGameBtn {
  border-radius: 9px;
  border: none;
  background-color: var(--secondary-background);
  color: var(--primary-text);
  padding: 10px 12px;
  position: absolute;
  left: 3%;
  bottom: 3%;
}

#skipExplainBtn {
  border-radius: 9px;
  border: none;
  background-color: var(--secondary-background);
  color: var(--primary-text);
  padding: 10px 12px;
  position: absolute;
  right: 3%;
  bottom: 3%;
}

#skipExplainBtn:hover, #skipGameBtn:hover {
  opacity: .8;
  cursor: pointer;
}

#afterGame {
  margin: 40px;
  text-align: center;
}

#aftergame h2 {
  font-size: 2em;
  width: 80%;
}

#afterGame button {
  background-color: var(--secondary-background);
  border: none;
  color: var(--primary-text);
  border-radius: 9px;
  padding: 8px 10px;
  font-size: 1.2em;
}

#afterGame button:hover {
  cursor: pointer;
  opacity: .8;
}

#returnFocusGameBtn {
  display: none;
  position: absolute;
  left: 2%;
  bottom: 2%;
  padding: 8px 10px;
  border: none;
  border-radius: 9px;
  background-color: var(--secondary-background);
  color: var(--primary-text);
}

#returnFocusGameBtn:hover {
  opacity: .8;
  cursor: pointer;
}

#miniMain {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#mini {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

#miniHeader {
  margin: 0;
  width: 100%;
  padding: 3px;
}

#drag {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: var(--accent-primary);
  position: absolute;
  top: 3%;
  right: 2%;
}

#logoDiv {
  width: 40%;
}

#logoDiv img {
  width: 100%;
  height: 100%;
}

#miniTimerDisplay {
  background-color: var(--primary-background);
  border-radius: 50%;
  padding: 2px;
  font-size: 2.5em;
  margin-right: 10px;
  font-family: 'Poppins';
  min-width: 60px;
  text-align: center;
}