@media screen and (max-height: 250px) {
    body {
        display: flex;
        flex-direction: column;
    }

    header {
        width: 40%;
    }

    #header-btn {
        display: none;
    }

    #timerContainer {
        display: none;
    }
}